@model IEnumerable<ReviewsSite.Models.Review>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <strong> Game </strong>
                @*@Html.DisplayNameFor(model => model.VideoGame)*@
            </th>
            <th>
                <strong> Rating </strong>
            </th>
            <th>
                <strong> Reviewer </strong>
                @*@Html.DisplayNameFor(model => model.Username)*@
            </th>
            <th></th>
            <th>
                <strong> Review </strong>
                @*@Html.DisplayNameFor(model => model.Usercomment)*@
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.VideoGame.Name
            </td>
            <td>
                @item.Rating
            </td>
            <td>
                @item.Username
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
            <td>
                @item.Usercomment
            </td>


        </tr>
}
    </tbody>
</table>
