@model ReviewsSite.Models.VideoGame

@{
    ViewData["Title"] = "Details";
}

<h1>
    <link rel="stylesheet" href="~/css/Views/VideoGame/Details.css" />
</h1>

<div>
    @*<h4>VideoGame</h4>*@
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @*<video src=@Model.VideoURL>Sorry your browser doesn't support this video</video>*@
            <iframe width="560" height="315" src="@Model.VideoURL" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </dt>
        </dl>
</div>

<table>
    <tbody>
         @foreach (var item in Model.Reviews)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rating)
                    </td>
                 </tr>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Usercomment)
                     </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Username)
                </td>
                 </tr>
                <tr>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>

                }
    </tbody>
</table>

<div>
    @*<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |*@
    <a asp-action="Index">Back to List</a>
</div>
