@model IEnumerable<ReviewsSite.Models.VideoGame>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Description)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.PictureURL)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.VideoURL)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>*@
                <td>
                    <img src=@item.PictureURL width=50px>
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.VideoURL)
                </td>*@
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a href="/Review/Index/@item.Id">Reviews</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@*
         //for each video game user should be able to add a game, write/rate a reivew, remove a game,
    @foreach (var game in Model)
    {
        <li>@game.Name  <a href="/Home/Create">Add</a></li>
    }



*@